<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="home">
  {% include header.html %}
  <div class="wrapper">
    {% include info-block.html title="What are Counter Questions?"
        description="Its an open-sourced collection of interview questions collected from both sides of the game: Interviewer(s) and Interviewee."%}
    {% include info-block.html title="Why use them?"
        description="Ideally, interview process is a conversation between equal parties. Not among superiors and inferior – it's hard to find good companies because it's even harder for them to find good employees.

        You, as Interviewee, should have a way to distinguish good from bad - this list of questions will help you facilitate
        that process" %}
  </div>
  {% include block-grid-featured.html%}
  {% include footer.html %}
</body>

</html>
